<h3>About Me</h3>
<p>Rachel Leeman-Munk is a computer scientist specialized in full-stack web and software development.</p>
<p>Rachel is a software engineer with Veeva Systems, a company in Pleasanton, CA. Her past and current projects can be found in her <a href="/portfolio">portfolio</a>.</p>
<div class="indent">
<h4>Skills</h4>
<p class="indent">
    <b>Languages:</b>Java, Javascript(JQuery and NodeJS), PHP, Python, C++, HTML5, CSS3<br/>
    <b>Databases:  </b>MySQL, PostgreSQL, MongoDB<br/>
    <b>MVCs:       </b>SailsJS, Django, Dojo<br/>
    <b>Frameworks: </b>Hadoop, Git
<br/>
<h4>Links</h4>
    <ul>
        <li>
            <a href="https://www.linkedin.com/pub/rachel-leeman-munk/55/116/969">LinkedIn</a>
        </li>
        <li>
            <a href="https://github.com/rleemanmunk">GitHub</a>
        </li>
        <li>
            <a href="resume">Resume</a><a href="images/ResumeRachelLeemanMunk.pdf"> (Download)</a>
        </li>
    </ul>
</div>
