<h3>Resume</h3>
<h4>Computer Skills</h4>
<div class="indent">
    <p><b>Languages: </b>Java, Javascript(JQuery and NodeJS), PHP, Python, C++, HTML5, CSS3<br/>
    <b>Databases:  </b>MySQL, PostgreSQL, MongoDB<br/>
    <b>MVCs:       </b>SailsJS, Django, Dojo<br/>
    <b>Frameworks: </b>Hadoop</p>
    <b>Version Control: </b>Git, Subversion</p>
</div>
<h4>Experience</h4>
<div class="indent">
    <h5>Freelance Full-Stack Web Developer    (Jan 2014 to Present)</h5>
    <p class="location">Self Employed, Waltham, MA and Chapel Hill, NC</p>
    <ul>
        <li>Develop websites and web apps using SailsJS(MVC), Wordpress, Javascript, PHP, Bootstrap, HTML5, and CSS3.</li> 
        <li>See <a href="portfolio">Portfolio</a></li>
    </ul>
    <h5>Software Engineer    (Summer 2014)</h5>
    <p class="location">UNC Chapel Hill, Computer Science Department, Chapel Hill, NC</p>
    <ul>
        <li>Develop websites and web apps using SailsJS(MVC), Wordpress, Javascript, PHP, Bootstrap, HTML5, and CSS3</li>
    </ul>
    <h5>Contracted Staff    (Summers 2013-2014)</h5>
    <h5>Paid Intern    (Summers 2011-2012)</h5>
    <p class="location">Shodor Education Foundation (for computational science education), Durham, NC</p>
    <ul>
        <li>Wrote automated testing scripts for interactive online applications using Selenium Driver and Selenium JS.</li>
        <li>Organized and co-taught workshops for professionals and students in Javascript, iPhone programming, and computer modeling.</li>
    </ul>
    <h5>Training Program Administrator   (Aug 2012 to June 2013)</h5>
    <p class="location">Durham Economic Resource Center, Durham, NC</p>
    <ul>
        <li>Supervised trainees in a job-training program for the chronically unemployed.</li>
        <li>Maintained a database and related documentation of trainees' progress.</li>
    </ul>
</div>
<h4>Graduate Coursework</h4>
<p class="location" style="font-size: 17px;">Brandeis University, Waltham, MA</p>
<div class="indent" style="margin-bottom: 20px;">
    <h5>Statistics of Natural Language Processing    (Spring 2014)</h5>
    <ul>
        <li>Implemented a multinomial Naive Bayes classifier in Python.</li>
    </ul>
    <h5>Big Data Analysis    (Spring 2014)</h5>
    <ul>
        <li>Created inverted indices of the tokens in 46GB of Wikipedia articles using Hadoop Mapreduce.</li>
    </ul>
    <h5>Distributed Systems   (Spring 2014)</h5>
    <ul>
        <li>Implemented fault tolerant distributed system algorithms including the Pri-mary/Backup scheme and Paxos in Go.</li>
    </ul>
    <h5>Databases    (Spring 2014)</h5>
    <ul>
        <li>Implemented search, insertion, and deletion for B+ trees in Java.</li>
    </ul>
</div>
