<h3>About Me</h3>
<p>Rachel Leeman-Munk is a computer scientist specialized in front-end and back-end web and software development.</p>
<p>Rachel is an Associate Software Engineer at Veeva Systems in Pleasanton, CA. She is a full-stack developer, but she primarily works on front-end development. Her past and current projects can be found in her portfolio.</p>
<ul>
    <li>
        <a href="https://www.linkedin.com/pub/rachel-leeman-munk/55/116/969">LinkedIn</a>
    </li>
    <li>
        <a href="https://github.com/rleemanmunk">GitHub</a>
    </li>
    <li>
        <a href="images/ResumeRachelLeemanMunk.pdf">Resume</a>
    </li>
</ul>
