<link href="http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Oleo+Script" rel="stylesheet" type="text/css">
    <div class="gallery">
        <!--START GALLERY--> 
        <div class="col-xs-12 col-lg-4">
            <h4>Interactive Programming Tool</h4>
            <a href="/cms" class="thumbnail">
                <img src="images/Bricks-Home.png" data-src="holder.js/100%x180" alt="...">
            </a>
            <p>Front-End: Bootstrap, Javascript<br/>Back-end: SailsJS, MongoDB</p>
        </div>
        <div class="col-xs-12 col-lg-4">
            <h4>Go Lunchbox Club</h4>
            <a href="/golunchboxclub" class="thumbnail">
                <img src="images/GoLunchBoxClub-Home.png" data-src="holder.js/100%x180" alt="...">
            </a>
            <p>Front-End: Bootstrap Template<br/>Backend: PHP</p>
        </div>
        <div class="col-xs-12 col-lg-4">
            <h4>Henry George Archive Center</h4>
            <a href="/henrygeorgearchives" class="thumbnail">
                <img src="images/HGArchives-Home.png" data-src="holder.js/100%x180" alt="...">
            </a>
            <p>CMS: WordPress</p>
        </div>
        <div class="col-xs-12 col-lg-4">
            <h4>Heavy then Light</h4>
            <a href="/heavythenlight" class="thumbnail">
                <img src="images/HTL-DataEntry.png" data-src="holder.js/100%x180" alt="...">
            </a>
            <p>Front-End: Bootstrap, Javascript<br/>Back-end: PHP, MySQL</p>
        </div>
        <div class="col-xs-12 col-lg-4">
            <h4>Succeed in Science</h4>
            <a href="/succeed" class="thumbnail">
                <img src="images/Succeed-Home.png" data-src="holder.js/100%x180" alt="...">
            </a>
            <p>Front-End: Bootstrap Template<br/>Backend: PHP</p>
        </div>
        <div class="col-xs-12 col-lg-4">
            <h4>Johnson Service Corps</h4>
            <a href="/johnsonservicecorps" class="thumbnail">
                <img src="images/JSC-Home.png" data-src="holder.js/100%x180" alt="...">
            </a>
            <p>CMS: Wordpress</p>
        </div>
     </div>
    <!--END GALLERY-->
