<h3>Computer Skills</h3>
<div class="indent">
    <p></b>Proficient in Java, Javascript, SailsJS(MVC), Ruby on Rails, SQL, HTML5, CSS3.<br/>
    Familiar with Python, C++, MongoDB, Dojo, NodeJS</p>
</div>
<h3>Employment</h3>
<div class="indent">
    <h5>Associate Software Engineer</h5>
    <p class="location">Veeva Systems, Pleasanton, CA</p>
    <ul>
        <li>Full-stack developer for a SASS company working in the life sciences. Primarily develop user interfaces using Java and Javascript libraries.</li>
    </ul>
    <h5>Freelance Web Developer</h5>
    <p class="location">Self Employed, Waltham, MA and Chapel Hill, NC</p>
    <ul>
        <li>Design websites for clients using PHP, Javascript(JQuery and JSON), Wordpress, HTML5, and CSS3</li>
    </ul>
    <h5>Contracted Staff, Paid Intern</h5>
    <p class="location">Shodor Education Foundation (for computational science education), Durham, NC</p>
    <ul>
        <li>Co-taught a professional development workshop on computer modeling to teachers at Purdue Calumet.</li>
        <li>Designed and implemented a <a href="http://www.shodor.org/noyce">database driven website</a> in PHP</li>
    </ul>
    <h5>Training Program Administrator</h5>
    <p class="location">Durham Economic Resource Center, Durham, NC</p>
    <ul>
        <li>Supervised trainees in a job-training program for the chronically unemployed.</li>
        <li>Maintained a database and related documentation of trainees' progress.</li>
    </ul>
    <h5>Teaching Assistant, Web Development Assistant</h5>
    <p class="location">Earlham College, Richmond, IN</p>
    <ul>
        <li>Redesigned the <a href="http://cs.earlham.edu">computer science department's website</a> to use responsive design</li>
    </ul>
</div>
<h3>Projects</h3>
<div class="indent">
    <h5>Distributed Systems</h5>
    <p class="location">Brandeis University, Waltham, MA</p>
    <ul>
        <li>Implemented fault tolerant distributed system algorithms including the Pri-
        mary/Backup scheme, and Paxos, on top of
        RPC infrastructure in Go.</li>
    </ul>
    <h5>User Experience</h5>
    <p class="location">Brandeis University, Waltham, MA</p>
    <ul>
        <li>Designed an interface for a doctor search website.</li>
        <li>Tested paper prototypes on users throughout four iterations of the design.</li>
    </ul>
</div>
