<h3>Go Lunchbox Club Website (Front-End Developer)</h3>
<h5>Menu selection website with visitor, client, and admin sections.<h5>
<div id="carousel" class="col-xs-12">
    <div id="project-view" class="carousel slide" data-ride="carousel" data-interval="0">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#project-view" data-slide-to="0" class="active"></li>
        <li data-target="#project-view" data-slide-to="1"></li>
        <li data-target="#project-view" data-slide-to="2"></li>
      </ol>
     
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <a href="http://www.golunchbox.club/index.php"><img src="/images/GoLunchBoxClub-Home.png" alt="..."></a>
          <div class="carousel-caption">
              <h3>Visitor Home Page</h3>
          </div>
        </div>
        <div class="item">
          <a href="http://www.golunchbox.club/register.php"><img src="/images/GoLunchBoxClub-Register.png" alt="..."></a>
          <div class="carousel-caption">
              <h3>Registration</h3>
          </div>
        </div>
        <div class="item">
          <a href="http://www.golunchbox.club/faq.php"><img src="/images/GoLunchBoxClub-FAQs.png" alt="..."></a>
          <div class="carousel-caption">
              <h3>FAQs</h3>
          </div>
        </div>
      </div>
     
      <!-- Controls -->
      <a class="left carousel-control" href="#project-view" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#project-view" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div> <!-- Carousel -->
</div>
<div id="summary" class="col-xs-12 col-md-6">
    <h5>Features:</h5>
    <ul>
        <li>Distinct Websites for Visitors, Users, and Administrators</li>
        <li>Beautiful, Responsive Interface</li>
    </ul>
</div>
<div id="techsummary" class="col-xs-12 col-md-6">
    <h5>Technical Summary</h5>
    <ul>
        <li>Front-End: Porto Template, Bootstrap, Javascript, and CSS3</li>
        <li>Back-End: PHP</li>
        <li>Database: MySQL</li>
    </ul>
</div>
