<h3>Heavy then Light Website (Sole Developer)</h3>
<h5>Data Entry Website with Database User Interface<h5>
<div id="carousel" class="col-xs-12">
    <div id="project-view" class="carousel slide" data-ride="carousel" data-interval="0">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#project-view" data-slide-to="0" class="active"></li>
        <li data-target="#project-view" data-slide-to="1"></li>
        <li data-target="#project-view" data-slide-to="2"></li>
      </ol>
     
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <a href="/images/HTL-DataEntry.png"><img src="/images/HTL-DataEntry.png" alt="..."></a>
          <div class="carousel-caption">
              <h3>Data Entry Page</h3>
          </div>
        </div>
        <div class="item">
          <img src="http://placehold.it/1200x315" alt="...">
          <div class="carousel-caption">
              <h3>Admin Page</h3>
          </div>
        </div>
        <div class="item">
          <img src="http://placehold.it/1200x315" alt="...">
          <div class="carousel-caption">
              <h3>Login Page</h3>
          </div>
        </div>
      </div>
     
      <!-- Controls -->
      <a class="left carousel-control" href="#project-view" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#project-view" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div> <!-- Carousel -->
</div>
<div id="summary" class="col-xs-12 col-md-6">
    <h5>Features:</h5>
    <ul>
        <li>User Authentication</li>
        <li>User Input Automatically Entered into Database</li>
        <li>Database User Interface for Admin</li>
        <li>Responsive Interface</li>
        <li>Headings/Emails Dynamically update for multiple URLs</li>
    </ul>
</div>
<div id="techsummary" class="col-xs-12 col-md-6">
    <h5>Technical Summary</h5>
    <ul>
        <li>Front-End: Bootstrap and Javascript</li>
        <li>Libraries: JQuery, JQueryUI, JQueryValidation</li>
        <li>Back-End: PHP</li>
        <li>Database: MySQL</li>
    </ul>
</div>
