<h3>Portfolio</h3>
<div class="gallery">
    <!--START GALLERY--> 
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <h4>Interactive Programming Tool</h4>
        <a href="portfolio/interactiveprogrammingtool" class="thumbnail">
            <img src="/images/Bricks-Home-Thumbnail.png" data-src="holder.js/100%x180" alt="...">
        </a>
        <p>Front-End: Bootstrap, Javascript<br/>Back-end: SailsJS, MongoDB</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <h4>Heavy then Light<a href="http://heavythenlight.com/"><span style="padding-left: 10px;" class="glyphicon glyphicon-arrow-right"></span></a></h4>
        <a href="portfolio/heavythenlight" class="thumbnail">
            <img src="/images/HTL-DataEntry-Thumbnail.png" data-src="holder.js/100%x180" alt="...">
        </a>
        <p>Front-End: Bootstrap, Javascript<br/>Back-end: PHP, MySQL</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <h4>Shopping List<a href="https://github.com/rleemanmunk/ShoppingList"><span style="padding-left: 10px;" class="glyphicon glyphicon-arrow-right"></span></a></h4>
        <a href="portfolio/shoppinglist" class="thumbnail">
            <img src="/images/ShoppingList-CreateList-Thumbnail.png" data-src="holder.js/100%x180" alt="...">
        </a>
        <p>Front-End: Bootstrap, Javascript<br/>Back-end: Django, MySQL</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <h4>Go Lunchbox Club<a href="http://golunchbox.club/"><span style="padding-left: 10px;" class="glyphicon glyphicon-arrow-right"></span></a></h4>
        <a href="portfolio/golunchboxclub" class="thumbnail">
            <img src="/images/GoLunchBoxClub-Home-Thumbnail.png" data-src="holder.js/100%x180" alt="...">
        </a>
        <p>Front-End: Bootstrap Template<br/>Backend: PHP</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <h4>Johnson Service Corps<a href="http://johnsonservicecorps.org/"><span style="padding-left: 10px;" class="glyphicon glyphicon-arrow-right"></span></a></h4>
        <a href="portfolio/johnsonservicecorps" class="thumbnail">
            <img src="/images/JSC-Home-Thumbnail.png" data-src="holder.js/100%x180" alt="...">
        </a>
        <p>CMS: Wordpress<br/>Backend: PHP</p>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <h4>This Website<a href="https://github.com/rleemanmunk/Portfolio"><span style="padding-left: 10px;" class="glyphicon glyphicon-arrow-right"></span></a></h4>
        <a href="portfolio/thiswebsite" class="thumbnail">
            <img src="/images/ThisWebsite-Portfolio-Thumbnail.png" data-src="holder.js/100%x180" alt="...">
        </a>
        <p>Front-End: Bootstrap, Javascript<br/>Back-end: SailsJS</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <ul><h4>Other Projects:</h4>
            <li><a href="http://succeedinscience.org">Succeed In Science - Igniting a Passion for Science</li>
            <li><a href="http://hgarchives.org/">Henry George Birthplace, Archive, and Historical Resource Center</li>
        </ul>
    </div>
    <!--END GALLERY-->
</div>
