<h3>Interactive Programming Tool (Front-End and Back-End Developer)</h3>
<h5>Software for teaching students introductory programming.<h5>
<div id="carousel" class="col-xs-12">
    <div id="project-view" class="carousel slide" data-ride="carousel" data-interval="0">
      <!-- Indicators -->
      <!--<ol class="carousel-indicators">
        <li data-target="#project-view" data-slide-to="0" class="active"></li>
        <li data-target="#project-view" data-slide-to="1"></li>
        <li data-target="#project-view" data-slide-to="2"></li>
      </ol>-->
     
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <a href="/images/Bricks-Home.png"><img src="/images/Bricks-Home.png" alt="..."></a>
          <!--<div class="carousel-caption">
              <h3>Student Page</h3>
          </div>-->
        </div>
        <!--<div class="item">
          <img src="http://placehold.it/1200x315" alt="...">
          <div class="carousel-caption">
              <h3>Caption Text</h3>
          </div>
        </div>
        <div class="item">
          <img src="http://placehold.it/1200x315" alt="...">
          <div class="carousel-caption">
              <h3>Caption Text</h3>
          </div>
        </div>-->
      </div>
     
      <!-- Controls -->
      <!--<a class="left carousel-control" href="#project-view" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#project-view" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>--> <!-- Carousel -->
</div>
<div id="summary" class="col-xs-12 col-md-6">
    <h5>Features:</h5>
    <ul>
        <li>User Authentication</li>
        <li>Auto Grading</li>
        <li>Add, Modify, Delete, Reorder Problems and Folders</li>
        <li>View Student Performance</li>
    </ul>
</div>
<div id="techsummary" class="col-xs-12 col-md-6">
    <h5>Technical Summary</h5>
    <ul>
        <li>Front-End: Bootstrap and Javascript</li>
        <li>Back-End: SailsJS(MVC), PassportJS(User Auth)</li>
        <li>Database: MongoDB</li>
    </ul>
</div>
