<h3>Johnson Service Corps Website (Sole Developer)</h3>
<h5>Primary website for a non-profit organization.<h5>
<div id="carousel" class="col-xs-12">
    <div id="project-view" class="carousel slide" data-ride="carousel" data-interval="0">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#project-view" data-slide-to="0" class="active"></li>
        <li data-target="#project-view" data-slide-to="1"></li>
      </ol>
     
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <a href="http://johnsonservicecorps.org"><img src="/images/JSC-Home.png" alt="..."></a>
          <div class="carousel-caption">
              <h3>Home Page with Slideshow</h3>
          </div>
        </div>
        <div class="item">
          <a href="http://johnsonservicecorps.org/news-and-events/calendar"><img src="/images/JSC-Calendar.png" alt="..."></a>
          <div class="carousel-caption">
              <h3>Calendar</h3>
          </div>
        </div>
      </div>
     
      <!-- Controls -->
      <a class="left carousel-control" href="#project-view" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#project-view" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div> <!-- Carousel -->
</div>
<div id="summary" class="col-xs-12 col-md-6">
    <h5>Features:</h5>
    <ul>
        <li>Responsive Interface</li>
        <li>Calendar linked with Google Calendar</li>
        <li>Slideshow</li>
        <li>Under Construction Setting</li>
        <li>Customized Donate Button</li>
        <li>Customized CSS</li>
    </ul>
</div>
<div id="techsummary" class="col-xs-12 col-md-6">
    <h5>Technical Summary</h5>
    <ul>Built in WordPress. Plugins:
        <li>All-in-One Event Calendar</li>
        <li>Portfolio Slideshow</li>
        <li>Under Construction</li>
        <li>MaxButtons</li>
    </ul>
</div>
